<html>
<head>
  <title><%= @title %></title>
  <meta charaset="utf8">
  <style>
<!--
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
  text-align: left;
}
th {
  background-color: #FFFFFF;
}
td { font-size: .825rem; }
-->
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
